<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.2.1/echarts-en.common.js"></script>
<style>
  #xcode{
    border:5px solid #cccccc;
    width: 200px;
    height: 200px;
    margin: 70px 0 0 70px;
  }
  .logoimg{
    width: 100px;
    height: 80px;
  }
  .funczone{
    height: 460px;
  }
  .wxstatus{
    height: 80%;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }
  .showstus{
    padding: 20px 0 0 150px;
    color: mediumblue;
  }
  /*个性签名居中*/
  div[carousel-item]>*:nth-child(2n+1) {
    background-color: #5FB878;
  }
  div[carousel-item]>*:nth-child(2n) {
    background-color: #009688;
  }
  .signature div{
    text-align: center;
    line-height:280px;
  }
  .sign {
    padding-left: 10px;
  }
</style>
<![endif]-->
</head>
<body>
  <div class="header">
    <div class="menu-btn">
      <div class="menu"></div>
    </div>
    <h1 class="logo">
      <a href="index.html">
        <span>MYBLOG</span>
        <img  class="logoimg" src="/static/img/logo1.png">
      </a>
    </h1>
    <div class="nav">
      <!--<a href="index.html" class="active">Flask微信</a>-->
    </div>
    <p class="welcome-text">
      <!--<input type="file" id="file_input">-->
    </p>
  </div>

  <div class="layui-row funczone">
     <div class="layui-col-md3 wxstatus">
       <div class="wximg"><img id="xcode"  src="https://login.weixin.qq.com/qrcode/{{ xcode }}"></div>
       <div class="showstus"><h3>请扫码</h3></div>
     </div>
    <div class="layui-col-md9 wxfunc">
      <div class="layui-row">
        <div class="layui-col-md6 headwall">
          <div id="sexshow" style="width: 500px; height: 476px;"></div>
    </div>
      <div class="layui-col-md6 area">
        <div id="areashow" style="width: 500px; height: 476px;"></div>
    </div>
      </div>
    </div>
  </div>
  <div class="layui-row">
      <div class="layui-col-md4 sign">
        <h2 style="text-align: center;">个性签名</h2>
        <div class="layui-carousel" id="test1">
              <div carousel-item class="signature">
              </div>
            </div>
    </div>
        <div class="layui-col-md4">
        发送消息
    </div>
    </div>
  <!--<div class="footer-wrap">
    <div class="footer w1000">
      <div class="qrcode">
        <img src="/static/img/erweima.jpg">
      </div>
      <div class="practice-mode">
        <img src="/static/img/down_img.jpg">
        <div class="text">
          <h4 class="title">我的联系方式</h4>
          <p>邮箱<span class="email">1414044032@qq.com</span></p>
        </div>
      </div>
    </div>
  </div>-->

  <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/static/layui/layui.js"></script>
  <script>
        // 登录标志
        var tip = 1;
        function checkLogin() {
            $.ajax({
                url:'/wechat/check_login',
                data: {'tip': tip},
                type: 'GET',
                dataType: 'JSON',
                success:function (arg) {
                    if (arg.code == 201){
                        // 有人扫码了
                        $('#xcode').attr('src', arg.data);
                        $(".showstus>h3").text("已扫码");
                        checkLogin();
                        tip = 0;
                    }else if (arg.code == 408){
                        checkLogin();
                    }else if (arg.code == 200){
                        $(".showstus>h3").text("已登录");
                        get_linkman()
                    }
                }
            })
        }
        function get_linkman() {
            $.ajax({
                url:'/wechat/contact_all',
                type: 'GET',
                success:function (arg) {
                    area_list(arg["area_data1"],arg["area_data2"]);
                    signature_list(arg["remark_name_list"],arg["signature_list"])
                    sex_list(arg["sex_data1"],arg["sex_data2"])
                }
            })
        }
        // 检查登录状态
        checkLogin();

        function area_list(data1,data2){

          // 基于准备好的dom，初始化echarts实例
          var myChart = echarts.init(document.getElementById('areashow'));

          // 指定图表的配置项和数据
          var option = {
            title : {
                text: '地区分布',
                x:'center'
            },
            tooltip: {},
            legend: {
              x : 'left',
              data:['区域']
            },
            toolbox: {
                show : true,
                feature : {
                    saveAsImage : {show: true}
                }
            },
            xAxis: {
              data: data1
            },
            yAxis: {},
            series: [{
              name: '区域',
              type: 'bar',
              data: data2
            }]
          };

          // 使用刚指定的配置项和数据显示图表。
          myChart.setOption(option);
        }
        function signature_list(data1,data){

          for(var i in data){
            $(".signature").append("<div>"+i+" : "+data[i]+"</div>")
          }
          layui.use('carousel', function(){
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
              elem: '#test1'
              ,width: '100%' //设置容器宽度
              ,arrow: 'always' //始终显示箭头
              ,indicator:'none'
              //,anim: 'updown' //切换动画方式
            });
          });
        }
        function sex_list(legenddata,seriesdata) {
          // 基于准备好的dom，初始化echarts实例
          var myChart = echarts.init(document.getElementById('sexshow'));
          var option = {
            title : {
                text: '性别比例',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data:legenddata
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            series : [
                {
                    name:'性别比例',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:seriesdata
                }
            ]
        };
            // 使用刚指定的配置项和数据显示图表。
          myChart.setOption(option);

        }
  </script>
</body>
</html>