<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css">
  <!--<link rel="stylesheet" type="text/css" href="/static/css/main.css">-->
  <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts-en.min.js"></script>
    <script type="text/javascript" src="/static/js/china.js"></script>
<style>
  #xcode{
    border:5px solid #cccccc;
    width: 100px;
    height: 100px;
  }
  .logoimg{
    width: 83px;
    height: 73px;
  }
  .funczone0{
    height: 10%;
    padding-left: 50px;
    border-bottom: 1px solid #cccccc;
  }
  .funczone{
    height: 45%;
  }
  .funczone1{
    border-top: 1px solid #cccccc;
    height: 45%;
  }
  .funczone2{
    border-top: 1px solid #cccccc;
    height: 45%;
  }
  .showstus{
    text-align:center;
    padding-top: 10%;
    color: mediumblue;
  }
  /*个性签名居中*/
  div[carousel-item]>*:nth-child(2n+1) {
    background-color: #5FB878;
  }
  div[carousel-item]>*:nth-child(2n) {
    background-color: #009688;
  }
  .signature div{
    text-align: center;
    line-height:280px;
  }
  .sign {
    padding-left: 10px;
  }
  .userimg{
    width: 50px;
    height: 50px;
  }
  .head_img_div{
    width: 102%;
    height: 280px;
    overflow: auto;
  }
  .layui-body{
    left: 0px;
  }
  .layui-col-md4{
    border-right: 1px solid #cccccc;
    height: 100%;
    padding: 5px 5px;
  }
  .wximg{
    text-align:center;
    padding-top: 20%;
  }
</style>
</head>
<body>
  <div class="layui-body">
  <div class="layui-row funczone0">

    <img  class="logoimg" src="/static/img/logo1.png">
  </div>
  <div class="layui-row funczone">
    <div class="layui-col-md4">
          <div class="wximg"><img id="xcode"  src="https://login.weixin.qq.com/qrcode/{{ xcode }}"></div>
       <div class="showstus"><h3>请扫码</h3></div>
    </div>
      <div class="layui-col-md4 headwall">
          <h2 style="text-align: center;">性别比例</h2>
          <div id="sexshow" style="width: 100%; height: 100%;"></div>
    </div>
      <div class="layui-col-md4 area">
        <h2 style="text-align: center;">地区分布</h2>
        <div id="areashow" style="width: 100%; height: 100%;"></div>
    </div>
    </div>
  <div class="layui-row funczone1">
      <div class="layui-col-md4 sign">
        <h2 style="text-align: center;">个性签名</h2>
        <div class="layui-carousel" id="test1">
              <div carousel-item class="signature">
              </div>
            </div>
    </div>
      <div class="layui-col-md4">
          <h2 style="text-align: center;">头像墙</h2>
          <div class="head_img_div">

          </div>
    </div>
      <div class="layui-col-md4">
          <h2 style="text-align: center;">发送消息</h2>
          <form  class="layui-form" action="/test" method="post">
            <div class="layui-form-item">
            <select class="msg_div" lay-filter="category" name="user" lay-verify="" lay-search>
              <option value="">请选择一个联系人</option>
            </select>
          </div>
            <div class="layui-form-item">
            <textarea name="msg" required lay-verify="required" placeholder="请输入消息内容" class="layui-textarea"></textarea>
          </div>
            <div class="layui-form-item">
            <button class="layui-btn" lay-submit lay-filter="sendmeg">发送消息</button>
          </div>
          </form>
    </div>
    </div>
  <div class="layui-row funczone2">
    <div class="layui-col-md4">
          <h2 style="text-align: center;">地区分布</h2>
        <div id="areashow1" class="chinaMap" style="width: 100%; height: 100%;">
            
        </div>
    </div>
      <div class="layui-col-md4">
          <h2 style="text-align: center;">群聊分析</h2>
          <div class="groupAnalyze"></div>
    </div>
      <div class="layui-col-md4">
        <h2 style="text-align: center;">消息列表</h2>
          <div class="msgList"></div>
    </div>
  </div>
  <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/static/layui/layui.js"></script>
  <script>
        layui.use(['layer','form','carousel'], function(){
          var layer = layui.layer;
          var form = layui.form;
          var carousel = layui.carousel;
          // 登录标志
        var tip = 1;
        // 发送消息选择用户值
        var category = '';
        function checkLogin() {
            $.ajax({
                url:'/wechat/check_login',
                data: {'tip': tip},
                type: 'GET',
                dataType: 'JSON',
                success:function (arg) {
                    if (arg.code == 201){
                        // 有人扫码了
                        $('#xcode').attr('src', arg.data);
                        $(".showstus>h3").text("已扫码");
                        checkLogin();
                        tip = 0;
                    }else if (arg.code == 408){
                        checkLogin();
                    }else if (arg.code == 200){
                        $(".showstus>h3").text("已登录");
                        get_linkman()
                    }
                    // 新号禁止登陆的是，在腾讯那边
                    else if (arg.code == 500){
                        var layer = layui.layer;
                        layer.alert('为了你的帐号安全，此微信号已不允许登录网页微信。你可以使用Windows微信或Mac微信在电脑端登录。' +
                                'Windows微信下载地址：https://pc.weixin.qq.com ' +
                                ' Mac微信下载地址：https://mac.weixin.qq.com\'', {icon: 5});
                    }
                }
            })
        }
        // 登录后加载各种图标
        function get_linkman() {
              layer.load(1);
              $.ajax({
                url:'/wechat/contact_all',
                type: 'GET',
                success:function (arg) {
                    area_list(arg["area_data1"],arg["area_data2"]);
                    signature_list(arg["remark_name_list"],arg["signature_list"]);
                    sex_list(arg["sex_data1"],arg["sex_data2"]);
                    show_head_img(arg["head_img_list"]);
                    show_send_msg_list(arg["user_dict"]);
                    show_area_map(arg["area_data_map1"],arg["area_data_map2"])
                    save_user_session();
                },
                error:function (data) {
                  layer.msg('服务器端报错', function(){});
                }
            });
              layer.closeAll('loading');
        }
        // 检查登录状态
        checkLogin();
        // 获取当前用户信息保存到session
        function save_user_session() {
          $.ajax({
                url:'/wechat/index',
                type: 'GET',
                success:function (arg) {

                },
                error:function (data) {
                  layer.msg('服务器端报错', function(){});
                }
            });
        }
        // 区域列表
        function area_list(data1,data2){

          // 基于准备好的dom，初始化echarts实例
          var myChart = echarts.init(document.getElementById('areashow'));

          // 指定图表的配置项和数据
          var option = {
            title : {
                text: '地区分布',
                x:'center'
            },
            tooltip: {},
            legend: {
              x : 'left',
              data:['区域']
            },
            toolbox: {
                show : true,
                feature : {
                    saveAsImage : {show: true}
                }
            },
            xAxis: {
              data: data1,
              axisLabel: {
                interval:0,
                rotate:45, //代表逆时针旋转45度
            }
            },
            yAxis: {},
            series: [{
              name: '区域',
              type: 'bar',
              data: data2
            }]
          };

          // 使用刚指定的配置项和数据显示图表。
          myChart.setOption(option);
        }
        // 个性签名
        function signature_list(data1,data){

          for(var i in data){
            $(".signature").append("<div>"+i+" : "+data[i]+"</div>")
          }
            //建造实例
            carousel.render({
              elem: '#test1'
              ,width: '100%' //设置容器宽度
              ,arrow: 'always' //始终显示箭头
              ,indicator:'none'
              //,anim: 'updown' //切换动画方式
            });
        }
        // 性别比例
        function sex_list(legenddata,seriesdata) {
          // 基于准备好的dom，初始化echarts实例
          var myChart = echarts.init(document.getElementById('sexshow'));
          var option = {
            title : {
                text: '性别比例',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient : 'vertical',
                x : 'left',
                data:legenddata
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    saveAsImage : {show: true}
                }
            },
            calculable : true,
            series : [
                {
                    name:'性别比例',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:seriesdata
                }
            ]
        };
            // 使用刚指定的配置项和数据显示图表。
          myChart.setOption(option);

        }
        // 头像墙
        function show_head_img(head_list) {
          for(var i= 0;i<head_list.length;i++){
            $(".head_img_div").append('<img class="userimg"  src="'+head_list[i]+'">')
          }
        }
        // 发送消息填充
        function show_send_msg_list(users){
          for(var i in users){
            $(".msg_div").append('<option value="'+users[i]+'">'+i+'</option>');
          }
          form.render();
          form.on('select(category)', function (data) {
                category = data.value;
            });
          form.on('submit(sendmeg)', function(data){
            console.log(data.elem); //被执行事件的元素DOM对象，一般为button对象
            console.log(data.form); //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field);//当前容器的全部表单字段，名值对形式：{name: value}
           $.ajax({
                  type: 'POST',
                  url: '/wechat/send_msg',
                  data: data.field,
                  success: function (data) {
                        if(data["ok"] == 0){
                            layer.msg('发送成功', {icon: 6});
                        }
                        else{
                            layer.msg('发送失败', {icon: 5});
                        }
                  },
                  error:function (data) {
                        layer.msg('服务器无响应', {icon: 5});
                  }
                });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
          });
        }
        // 中国地图(地域分布)
        function show_area_map(mapdata1, mapdata2) {
            var optionMap = {
                backgroundColor: '#FFFFFF',
                title: {
                    text: '地区分布',
                    subtext: '',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item'
                },

                //左侧小导航图标
                visualMap: {
                    show : true,
                    min: mapdata1[0],
                    max: mapdata1[1],
                    x: 'left',
                    y: 'center',
                    realtime: false,
                    inRange: {
                        color: ['lightskyblue','yellow', 'orangered']
                    }
                },

                //配置属性
                series: [{
                    name: '数据',
                    type: 'map',
                    mapType: 'china',
                    roam: true,
                    label: {
                        normal: {
                            show: true  //省份名称
                        },
                        emphasis: {
                            show: false
                        }
                    },
                    data:mapdata2  //数据
                }]
            };
        //初始化echarts实例
        var myChart = echarts.init(document.getElementById('areashow1'));

        //使用制定的配置项和数据显示图表
        myChart.setOption(optionMap);
        }
        });

  </script>
  </div>
</body>
</html>